@import colors
@import prefixes
@import 'components/triangle'
@import 'components/data-table'

.ig
  @import basics
  @import InfoBar
@import kandidatka

.ig
  #map
    position absolute
    top 0px
    left 0px
    bottom 0px
    background white
    width 100%
  .layerSelector
    position absolute
    top 9px
    left 60px

