@import colors
@import prefixes
@import 'components/triangle'
@import 'components/data-table'

.ig
  @import basics
  @import InfoBar
@import kandidatka
@import Suggester
.ig
  #map
    position absolute
    top 0px
    left 0px
    bottom 0px
    background white
    width 1000px - 340px
  .layerSelector
    position absolute
    top 9px
    left 60px

