@import colors
@import prefixes
@import 'components/triangle'
@import 'components/data-table'

.ig
  @import basics
  @import InfoBar
@import kandidatka
@import Suggester
.ig
  #map
  .infoBar
    border-top 3px solid lighten(ColorGreyBg, 40%)
    border-bottom 3px solid lighten(ColorGreyBg, 40%)
  #map
    position absolute
    top 0px
    left 0px
    bottom 0px
    background white
    width 1000px - 330px
    width calc(100% \- 330px)
  .layerSelector
    position absolute
    top 13px
    height 64px
    left 63px
    z-index 2000
    background white
    border-radius 4px
    border 2px solid lighten(black, 80%)
    border-left 0px none
    padding 6px 16px
    border-top-left-radius 0px
    border-bottom-left-radius 0px
    span
      float left
      clear left
    select
      float left
      clear left
      margin 6px 0px
  .leaflet-control-zoom
    border-right-width 1px
    border-top-right-radius 0px
    border-bottom-right-radius 0px
    border 2px solid lighten(black, 80%)
    left 20px
    a:first-child
      border-top-right-radius 0px
    a:last-child
      border-bottom-right-radius 0px
