.subsetSelector-container
  position absolute
  bottom 20px
  left 20px
  padding 5px
  width 240px
  input
  ul.suggestionList
    border 1px solid #aaa
    border-radius 3px
  ul.suggestionList
    position absolute
    bottom 30px
    border-bottom 0px none
    left 0px
    list-style-type none
    margin 0px
    padding 0px
    background white
    li
      padding 8px 18px
      position relative
      .okres
        color #666
      &.active
        background ColorHeadingLink
        color white
        cursor pointer
        .okres
          color #eee


  input
    margin 0px
    padding 5px 10px
    height 30px
    width @width
    position absolute
    left 0px
    bottom 0px

